<!DOCTYPE html>
<html>
  <head>
    <title>Pxy</title>
    <meta property="og:title" content="500Pxy" />
     <meta property="og:image" content="./src/images/pxygif.gif" />
     <meta
       property="og:description"
       content="A brief description of your project"
     />
     <meta
       property="og:url"
       content="https://pxy500.herokuapp.com/"
     />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>


    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <script type="text/javascript">
        window.vine = "<%= image_url('2.PNG') %>";
    </script>
     <script type="text/javascript">
        window.pencil = "<%= image_url('3.PNG') %>";
    </script>
     <script type="text/javascript">
        window.graph = "<%= image_url('4.PNG') %>";
    </script>
     <script type="text/javascript">
        window.logo = "<%= image_url('Logo.PNG') %>";
    </script>
    <script type="text/javascript">
        window.avatar = "<%= image_url('avatar.PNG') %>";
    </script>
    <script type="text/javascript">
        window.uparrow = "<%= image_url('uparrow.PNG') %>";
    </script>
    <script type="text/javascript">
        window.max = "<%= image_url('max.png') %>";
    </script>
    <script type="text/javascript">
        window.min = "<%= image_url('min.png') %>";
    </script>

    <script type="text/javascript">
        window.default_thumb = "<%= image_url('default_thumb.PNG') %>";
    </script>
     <script type="text/javascript">
        window.up_arrow_2 = "<%= image_url('uparrow2.PNG') %>";
    </script>
    <script type="text/javascript">
        window.heart1= "<%= image_url('heart1.PNG') %>";
    </script>
    <script type="text/javascript">
        window.heart2 = "<%= image_url('heart2.png') %>";
    </script>
     <script type="text/javascript">
        window.heart3 = "<%= image_url('heart3.png') %>";
    </script>
    <script type="text/javascript">
        window.curate = "<%= image_url('curate.PNG') %>";
    </script>
    <script type="text/javascript">
        window.pencil2 = "<%= image_url('pencil2.png') %>";
    </script>
    <script type="text/javascript">
        window.plus = "<%= image_url('plus.png') %>";
    </script>
    <script type="text/javascript">
        window.xbut = "<%= image_url('x.png') %>";
    </script>
    <script type="text/javascript">
        window.mountain = "<%= image_url('mountain.jpg') %>";
    </script>
    <script type="text/javascript">
        window.ascension = "<%= image_url('ascension.gif') %>";
    </script>
    <script type="text/javascript">
        window.avatar2 = "<%= image_url('avatar2.png') %>";
    </script>
    <script type="text/javascript">
        window.close1 = "<%= image_url('close.png') %>";
    </script>
    <script type="text/javascript">
        window.camera = "<%= image_url('camera.png') %>";
    </script>
    <script type="text/javascript">
        window.mern = "<%= image_url('mern.PNG') %>";
    </script>


     
  </head>

  <body>
    <%= yield %>
  </body>
</html>
