<!DOCTYPE html>
<html>
  <head>
    <title>Pxy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <script type="text/javascript">
        window.vine = "<%= image_url('2.PNG') %>";
    </script>
     <script type="text/javascript">
        window.pencil = "<%= image_url('3.PNG') %>";
    </script>
     <script type="text/javascript">
        window.graph = "<%= image_url('4.PNG') %>";
    </script>
     <script type="text/javascript">
        window.logo = "<%= image_url('Logo.PNG') %>";
    </script>
     
  </head>

  <body>
    <%= yield %>
  </body>
</html>
